body{
    background-color: gray;
    color: white;
}
nav{
    background-color: black;
    padding: 13px;
    color: white;
    display: flex;
}
nav a{
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover{
    color: gray;
}